<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext",  "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body class="prose body">
<center>
     <p class="notice" ><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <div>
        <% if user_signed_in? %>
        <%= link_to "New Post", new_blog_post_path, class: "btns" %>
        <br><br>
        <%= button_to "Log out", destroy_user_session_path, class:"btns", method: :delete%>
        <% else %>
        <div><%= link_to "Login", new_user_session_path, class:"btns" %></div>

        <% end %>
    <%= yield %>
    </center>
</body>
</html>
